<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../Style/HStyle.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/css-doodle@0.15.3/css-doodle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.30.0/css-doodle.js" integrity="sha512-fAA616bYGXpn6N+kU+XbRHzH4JeCVKDal+oY5l8Iu6O0xGXg4rsKEfebpzJoURhRQvIZubmoWRxvBldfnNqouw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<css-doodle use="var(--rule)"></css-doodle>
<body>
   
    <section class="detials">
        <div class="detials-content">
            <h2>Welcome to Groupie Tracker</h2>
            <p>Your ultimate source for tracking your favorite artists and bands. Stay updated with their latest tours, albums, and more!</p>
            <button id="detials-btn" onclick="window.location.href = 'http://localhost:1221/artists'">View More!</button>
        </div>
    </section>
    <section class="info">
        <div class="info-content">
            <h3>Done By: aabdulhu, sayedalawi, yrahma</h3>
        </div>
    </section>
    
</body>
</html>
